@{
  Layout = "_Layout";
}

@model Factory.Models.Machine
<div class="container">
<br>
<br>
<div class="column">
  <div class=row>
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;  
    <div class="card border-info mb-3" style="max-width: 40rem;">
      <div class="card-header">
       <h1>Decomission this machine?</h1>
       <h6><em>Have you tried fixing it?</em></h6>
      </div>
      <div class="card-body">

        <h5> @Html.DisplayNameFor(model => model.MachineName):</h5><h3> @Html.DisplayFor(model => model.MachineName)</h3>
        @using (Html.BeginForm())
        {
          <br>
          <input type="submit" value="Delete" class="btn btn-info"/>
        }
      </div>
    </div>

    <br>
    <br>
    <br>
    <br>

    <div class="col-md-3">
    <br>
      <button type="button" class="btn btn-info" style="max-height: 5rem; max-width: 20rem;">@Html.ActionLink("Back to Machine Inventory", "Index")</button>
      <br>
      <br>
      <hr>
      <button type="button" class="btn btn-info" style="max-height: 5rem; max-width: 15rem;">@Html.ActionLink("Home", "Index", "Home")</button>
    </div>   

  </div>
</div>