<div id="footer">
  <br>
  <br>
  <br>
  <br>
  <center>Dr. Sillystringz's Factory Logistics Management Application designed and maintained by <a href="https://github.com/johnwhittenstudio">John Whitten</a></center>
</div>