@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer
<div class="container">
<br>
<br>
<div class="column">
  <div class=row>
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;  
    <div class="card border-primary mb-3" style="max-width: 40rem;">
      <div class="card-header">
        <h1>Terminate this engineer?</h1>
        <h6><em>Have you run this by HR?</em></h6>
      </div>
      <div class="card-body">
        <h5> @Html.DisplayNameFor(model => model.Name):</h5><h3> @Html.DisplayFor(model => model.Name)</h3>
        <br>
        @using (Html.BeginForm())
        {
          <input type="submit" value="Delete" class="btn btn-primary" />
        }
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="col-md-3">
    <br>
      <button type="button" class="btn btn-primary" style="max-height: 5rem; max-width: 20rem;">@Html.ActionLink("Back to Roster", "Index")</button>
      <br>
      <br>
      <hr>
      <button type="button" class="btn btn-primary" style="max-height: 5rem; max-width: 15rem;">@Html.ActionLink("Home", "Index", "Home")</button>
    </div>   
  </div>
</div>