@{
  Layout = "_Layout";
}
<div class="container">
<br>
<h1>Welcome to Dr. Sillystringzs Factory Logistics</h1>
<h4>Use this application to keep track of installed machines and hired engineers</h4>
<br>
<button class="btn btn-info">@Html.ActionLink("Engineers", "Index", "Engineers")</button>
<button class="btn btn-info">@Html.ActionLink("Machines", "Index", "Machines")</button>
</div>